.component{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.component-container{
    background-color: rgb(172, 182, 201);
    margin: 7px;
    padding: 3px;
    /* border-color: rgb(67, 184, 219); */
    border-left: 3px solid red;
    border-Right: 3px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
.second-component-container{
background-color: rgb(238, 242, 247);
height: 15%;
}

/* button calling */
.Payment{
    background-color: rgb(231, 186, 231);
color: lightcoral;
font-weight: bold;
cursor: pointer;
}


